header {
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    position: fixed;
    background-color: #fcfcfc;
    border-bottom: 2px rgb(234, 234, 234) solid;
    /* box-shadow: 0px 0px 10px rgba(255, 157, 157, 0.5); */
    shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  #logo {
    width: 71px;
    height: 40px;
    font-size: 25px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    bottom: 6px;
    left: 65px;
    position: absolute;
    right: 0;
    top: 15px;
    color: #d04653;
  }

  #logo-images {
    position: absolute;
    left: 35px;
    width: 65px;
    max-height: 65px;
    top:  35px;
    cursor: pointer;
    border-radius: 0;
  }


.direction a:hover::after {
    width: 100%;
    left: 0;
}


.auth {
    font-size: 18px;
    position: absolute;
    top: 2px;
    right: -160px;
    padding-right: 80px;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

#sign {
    border-radius: 8px;
    padding: 5px;
    border: #d04653 2px solid;
    position: relative;
    top: 10px;
    right: 330px;
    position: relative;
    margin-right: 20px;
    margin-left: 0;
    padding-top: 3px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #d04653;
    
}

#sign:hover {
    border-radius: 8px;
    padding: 5px;
    padding-bottom: 0px;
    background-color: #d04653;
    position: relative;

    padding-top: 3px;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

#register {
    padding: 5px;
    left: 50px;
    padding-bottom: 0px;
    border-radius: 8px;
    background-color:#d04653;
    color: white;
    position: relative;
    top: 10px;
    padding-bottom: 6px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

#register:hover {
    padding: 5px;
    border-radius: 8px;
    background-color: #c81729;
    color: white;
    position: relative;
    top: 10px;
    padding-bottom: 0px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}



.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    left: 95%;
    top: 10px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    top: 70px;
    right: 20px;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #fcfcfc;
    list-style-type: none;
    transform: translatey(-150%);
    transition: .3s;
    z-index: 1;
    width: 200px;
    border-top: none;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 0 0 0 35px;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2);
    color: #d04653;
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

#home {
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #469597;
}

#home:hover {
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    transition: 0.1s ease-in-out;
}

#words {
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #469597;
    transition: 0.2s ease-in-out;
}

#words:hover {
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    transition: 0.1s ease-in-out;
}

#contact {
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #469597;
    transition: 0.1s ease-in-out;
}

#contact:hover {
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    transition: 0.1s ease-in-out;
}

#video-conf {
    text-decoration: none;
    position: relative;
    right: 10px;
    text-align: center;
    top: 11px;
    font-size: 300;
    color: white;
    background-color: #3AC0C0;
    border-radius: 10px;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: 0.2s ease-in-out;
}

#video-conf:hover {
    text-decoration: none;
    position: relative;
    right: 10px;
    text-align: center;
    top: 11px;
    font-size: 300;
    color: white;
    background-color: #54504d;
    border-radius: 10px;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 0px;
    transition: 0.2s ease-in-out;

}